/* Benefits */
.benefits .title {
  margin-bottom: 10px;

  @media screen and (max-width: $tablet - 1px) {
    text-align: center;
  }
}

.benefits-list {
  @extend %list;

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
  }
}

.benefits-icon {
  @include align-center();
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;

  background-color: #f5f4fa;
}

.icon-benefits-list {
  width: 70px;
  height: 70px;
}

/* Альтернативний варіант додавання іконок через background-image */
/* .benefits .list-item::before {
  content: '';
  display: block;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;

  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
} */

/* Створити додаткові класи для елементів списку */
/* .list-item.icon-antenna::before {
  background-image: url('../images/benefits/image1-antenna.svg');
}

.list-item.icon-clock::before {
  background-image: url('../images/benefits/image2-clock.svg');
}

.list-item.icon-diagram::before {
  background-image: url('../images/benefits/image3-diagram.svg');
}

.list-item.icon-astonaut::before {
  background-image: url('../images/benefits/image4-astronaut.svg');
} */
