/* Benefits */
.benefits .title {
  margin-bottom: 10px;

  @media screen and (max-width: $tablet - 1px) {
    text-align: center;
  }
}

.benefits-list {
  @extend %list;

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
  }
}

.benefits-list-item {
  @media screen and (min-width: $tablet) {
    width: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: $desktop) {
    width: calc((100% - 90px) / 4);
  }

  &:nth-child(odd) {
    @media screen and (min-width: $tablet) {
      margin-right: 30px;
    }
  }

  &:not(:last-child) {
    @media screen and (max-width: $tablet - 1px) {
      margin-bottom: 30px;
    }

    @media screen and (min-width: $desktop) {
      margin-right: 30px;
    }
  }

  &:not(:nth-last-child(-n + 2)) {
    @media screen and (min-width: $tablet) and (max-width: $desktop - 1px) {
      margin-bottom: 30px;
    }
  }
}

.benefits-icon {
  @include align-center();
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;

  background-color: #f5f4fa;
}

.icon-benefits-list {
  width: 70px;
  height: 70px;
}

// .benefits .text:not(:last-child) {
//   margin-bottom: 30px;
// }

/* Альтернативний варіант додавання іконок через background-image */
/* .benefits .list-item::before {
  content: '';
  display: block;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;

  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
} */

/* Створити додаткові класи для елементів списку */
/* .list-item.icon-antenna::before {
  background-image: url('../images/benefits/image1-antenna.svg');
}

.list-item.icon-clock::before {
  background-image: url('../images/benefits/image2-clock.svg');
}

.list-item.icon-diagram::before {
  background-image: url('../images/benefits/image3-diagram.svg');
}

.list-item.icon-astonaut::before {
  background-image: url('../images/benefits/image4-astronaut.svg');
} */
