/* Header */
.header {
  position: relative;
  border-bottom: 1px solid #ececec;

  &.studio {
    border-bottom: transparent;
  }

  .menu-button {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;

    background-color: transparent;

    @media screen and (min-width: $tablet) {
      display: none;
    }
  }

  .container {
    @include align-center($jc: space-between);
    min-height: 60px;
  }

  .logo {
    animation-duration: 3000ms;

    @media screen and (min-width: $tablet) {
      margin-right: 81px;
    }

    @media screen and (min-width: $desktop) {
      margin-right: 85px;
    }
  }
}

.menu-container {
  text-align: center;

  font-weight: 500;
  letter-spacing: 0.02em;
  z-index: 100;

  @media screen and (max-width: $tablet - 1px) {
    // display: none;
    opacity: 0;
    transform: scale(0);
    transition: opacity $transition-duration $timing-function,
      transform $transition-duration $timing-function;

    @include position-absolute($top: 100%);
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;

    font-size: 18px;
    line-height: 1.17;

    background-color: #ffffff;
    border-top: 1px solid #ececec;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 1px 3px rgba(0, 0, 0, 0.16);

    &.is-open {
      // display: block;
      opacity: 1;
      transform: scale(1);
    }
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
  }
}

.menu-button .icon-menu-close {
  display: none;
}

.menu-button.is-open .icon-menu-close {
  display: block;
}

.menu-button.is-open .icon-menu-open {
  display: none;
}

// .menu-button .icon-menu-close {
//   opacity: 0;
//   transition: opacity 250ms linear;
// }

// .menu-button.is-open .icon-menu-close {
//   opacity: 1;
// }

// .menu-button.is-open .icon-menu-open {
//   opacity: 0;
//   transition: opacity 250ms linear;
// }

.icon-menu-button {
  fill: $title-light-theme-color;

  transition: fill $transition-duration $timing-function;

  .menu-button:hover &,
  .menu-button:focus & {
    fill: $accent-color;
  }
}

.site-nav-list {
  @extend %list;

  @media screen and (max-width: $tablet - 1px) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: $tablet) {
    display: flex;

    margin-right: 84px;
  }

  @media screen and (min-width: $desktop) {
    margin-right: 305px;
  }
}

.site-nav-item:not(:last-child) {
  @media screen and (max-width: $tablet - 1px) {
    margin-bottom: 40px;
  }

  @media screen and (min-width: $tablet) {
    margin-right: 50px;
  }
}

.header-connect-list {
  @extend %list;

  @media screen and (min-width: $tablet) and (max-width: $desktop - 1px) {
    text-align: left;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
  }
}

.header-connect-item:not(:last-child) {
  @media screen and (max-width: $tablet - 1px) {
    margin-bottom: 16px;
  }

  @media screen and (min-width: $tablet) and (max-width: $desktop - 1px) {
    margin-bottom: 10px;
  }

  @media screen and (min-width: $desktop) {
    margin-right: 30px;
  }
}

.site-nav-link,
.header-connect-link {
  @extend %link;
  display: inline-block;

  transition: color $transition-duration $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.site-nav-link {
  color: $title-light-theme-color;

  @media screen and (min-width: $tablet) {
    padding-top: 32px;
    padding-bottom: 32px;

    line-height: 1.14;
  }
}

.site-nav-link.current {
  color: $accent-color;

  @media screen and (min-width: $tablet) {
    padding-bottom: 0;
  }

  &::after {
    display: block;
    content: '';
    height: 4px;
    border-radius: 2px;

    background-color: $accent-color;

    @media screen and (max-width: $tablet - 1px) {
      margin-top: 8px;
    }

    @media screen and (min-width: $tablet) {
      margin-top: 28px;
    }
  }
}

.header-connect-link {
  color: $text-light-theme-color;

  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;

    font-size: 12px;
    line-height: 1.17;
  }

  @media screen and (min-width: $desktop) {
    font-size: 14px;
    line-height: 1.14;
  }
}

.icon-header-connect {
  margin-right: 10px;

  fill: currentColor;
}
