/* Hero */
.hero {
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 118px;
  padding-bottom: 118px;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url('../images/hero-mobile.jpg');
  background-size: cover;
  background-position: center;
  background-color: rgba(47, 48, 58, 0.8);
  // background-repeat: no-repeat;

  @media screen and (min-width: $desktop) {
    padding-top: 200px;
    padding-bottom: 200px;
  }

  .hero-title {
    margin-bottom: 30px;
    text-align: center;

    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: $title-dark-theme-color;

    @media screen and (min-width: $desktop) {
      font-size: 44px;
      line-height: 1.36;
    }
  }

  > .button {
    margin: 0 auto;
    padding: 10px 32px;
    box-shadow: $box-shadow;

    transition: background-color $transition-duration $timing-function;
    &:hover,
    &:focus {
      background-color: #188ce8;
    }
  }
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.8),
        rgba(47, 48, 58, 0.8)
      ),
      url('../images/hero-mobile@2x.jpg');
  }
}

@media screen and (min-device-pixel-ratio: 3),
  screen and (min-resolution: 288dpi),
  screen and (min-resolution: 3dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.8),
        rgba(47, 48, 58, 0.8)
      ),
      url('../images/hero-mobile@3x.jpg');
  }
}

@media screen and (min-width: $mobile + 1px) {
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.8),
        rgba(47, 48, 58, 0.8)
      ),
      url('../images/hero-tablet.jpg');
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.8),
          rgba(47, 48, 58, 0.8)
        ),
        url('../images/hero-tablet@2x.jpg');
    }
  }

  @media screen and (min-device-pixel-ratio: 3),
    screen and (min-resolution: 288dpi),
    screen and (min-resolution: 3dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.8),
          rgba(47, 48, 58, 0.8)
        ),
        url('../images/hero-tablet@3x.jpg');
    }
  }
}

@media screen and (min-width: $tablet + 1px) {
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.8),
        rgba(47, 48, 58, 0.8)
      ),
      url('../images/hero-desktop.jpg');
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.8),
          rgba(47, 48, 58, 0.8)
        ),
        url('../images/hero-desktop@2x.jpg');
    }
  }

  @media screen and (min-device-pixel-ratio: 3),
    screen and (min-resolution: 288dpi),
    screen and (min-resolution: 3dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.8),
          rgba(47, 48, 58, 0.8)
        ),
        url('../images/hero-desktop@3x.jpg');
    }
  }
}
