/* Sections */
.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: $desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

// ПЕРЕВІРИТИ!!!!!!!!
.section-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: $title-light-theme-color;
}

.title {
  // OK
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: $title-light-theme-color;
}

.text {
  // OK
  font-weight: 400;
  line-height: 1.71;
}

.list-item:not(:last-child) {
  margin-right: 30px;
}
