/* Sections */
.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: $desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-title {
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;

  color: $title-light-theme-color;

  @media screen and (min-width: $desktop) {
    margin-bottom: 50px;

    font-size: 36px;
    line-height: 1.17;
  }
}

.title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: $title-light-theme-color;
}

.text {
  font-weight: 400;
  line-height: 1.71;
}

.list-item {
  @media screen and (min-width: $tablet) {
    width: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: $desktop) {
    width: calc((100% - 90px) / 4);
  }

  &:not(:last-child) {
    @media screen and (max-width: $tablet - 1px) {
      margin-bottom: 30px;
    }
  }

  &:not(:nth-last-child(-n + 2)) {
    @media screen and (min-width: $tablet) and (max-width: $desktop - 1px) {
      margin-bottom: 30px;
    }
  }
}
