.social-links-list {
  @extend %list;
  @include align-center();
}

.social-network-link {
  @include align-center();
  width: 44px;
  height: 44px;
  border-radius: 50%;

  color: $main-icon-color;

  transition: background-color $transition-duration $timing-function;

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}
