/* Footer */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  color: $title-dark-theme-color;
  background-color: #2f303a;

  .container {
    display: flex;
    align-items: baseline;
  }

  .contacts {
    margin-right: 83px;
  }

  .logo {
    margin-bottom: 20px;
    color: inherit;
  }

  .footer-map {
    color: inherit;
  }

  .title {
    display: inline-block;
    margin-bottom: 20px;

    color: inherit;
  }

  .button {
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 29px;
    padding-right: 28px;

    box-shadow: $box-shadow;
  }

  .icon-sign {
    margin-left: 10px;

    fill: $title-dark-theme-color;

    animation-duration: 5000ms;
    animation-iteration-count: infinite;
  }
}

.footer-join-us {
  margin-right: 94px;

  > .list {
    display: flex;
  }

  .social-network {
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color $transition-duration $timing-function;

    &:hover,
    &:focus {
      background-color: $accent-color;
    }
  }

  .icon-social-link {
    fill: #ffffff;
  }
}

.footer-address .link {
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;

  &:not(:first-child) {
    color: $text-dark-theme-color;
  }

  &:not(:last-child) {
    margin-bottom: 9px;
  }
}

/* Альтернативний варіант додавання іконки через псевдоелемент та background-image */
/* .footer .button::after {
  content: '';
  width: 24px;
  height: 24px;
  margin-left: 10px;

  background-image: url('../images/footer/icon-sign.svg');
} */

/* Footer form */
.footer-form {
  width: 570px;

  input {
    display: block;
    width: 358px;
    padding: 15px 16px;
    margin-right: 12px;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: transparent;
    box-shadow: $box-shadow;
  }
}

.footer-form-field {
  display: flex;
}

.form-mail::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
