/* Header */
.header {

  .container {
    @include align-center($jc: space-between);
    /* замість justify-content можна задати margin-left: auto для списку з e-mail та телефоном */
  }

  // .logo {
  //   margin-right: 85px;
  //   animation-duration: 3000ms;
  // }
}

/* Navigation */
// .navigation {
//   display: flex;
//   align-items: center;
// }

// .site-nav {
//   display: flex;
// }

// .site-nav-item:not(:last-child) {
//   margin-right: 50px;
// }
}

.header-connect {
  display: flex;
}


.header-connect-item > .link {
  display: flex;
  align-items: center;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
